<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/allcards.css">
<link href="https://fonts.googleapis.com/css?family=Archivo|Viga&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo|Julius+Sans+One|Viga&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Asap:400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Asap:400,600|Comfortaa:400,700&display=swap" rel="stylesheet">

<% if(!justreg)
{%>
<script>
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>
<%}


%>
<style>
	.skills{
		border-radius: 5px;
		cursor: pointer;
		box-sizing: border-box;
		box-shadow: 0px 0px 15px rgb(214, 212, 212);
		border-color: 2px solid black;
		border: 2px black;
		margin-bottom: 2px;;
		margin-right: 10px;
		margin-top: 10px;;
		background-color: #007bff;
		font-family: 'Rubik',sans-serif;
		color: white;
		font-size: 25px;
		padding: 5px 15px;
	}
	.add-skill{
		border-radius: 5px;
		cursor: pointer;
		box-sizing: border-box;
		box-shadow: 0px 0px 15px rgb(214, 212, 212);
		border-color: 2px solid black;
		border: 2px black;
		margin-bottom: 2px;;
		margin-right: 10px;
		margin-top: 10px;;
		background-color: #007bff;
		font-family: 'Rubik',sans-serif;
		color: white;
		font-size: 25px;
		padding: 5px 15px;
	}
	label{
		color:#a1a1a1;

	}
	input{
		font-family: 'Rubik',sans-serif;
	}
	.jumbotron{
		background-color: white;
		height: 70px;
	}
	.bio-box{
		box-sizing: border-box;
		border: 2px solid black;
		height: 400px;
		width: 200px;
		margin-left:3%;
		margin-top: 10px;
		margin-bottom: 10px;;
		
	}
	.profile-photo{
		height: 200px;
		width: 200px;
		background-color: blanchedalmond;
		border-radius: 50%;
		margin-top:20px;
		
		
		

	}
	.list-nav:hover{
		transition: 0.4s ease-in-out;
		color: black;

	}
	.modal{
		margin-top: 60px;
		padding: 50px 50px;
	}
	.addskill:hover{
transition: 0.3s ease;
transform: scale(1.5) 1s ease;
opacity:0.6;
	}
	row{
		z-index: -999999999;
	}
	.list-nav{
		margin-right: 70px;
		font-size: 15px;
		transform: translateX(-50px);
		font-family: 'Raleway',sans-serif;
		font-weight: 600px;
		 color:#a1a1a1;
		 cursor: pointer;
	}
	.heading-skills{
		font-family: 'Rubik', sans-serif;
		font-size: 20px;;
		font-weight: 100;
		font-style: bold;
		cursor:pointer;
	}
	.sections-profile{
		font-family: 'Comfortaa', cursive;
		font-weight: 600;
		font-size: 30px;
		height:20vh;
	}
	 
	
</style>
<body style="background-color:#f5f5f5;">
	<div class="row" style="background-color: white;padding-bottom: 10px;">
		<div class="col-lg-12" style="height:120px;margin-bottom: 10px;">
			<div class="container">
		   <h1 style="padding-top: 30px;font-family: 'Lato',sans-serif;">CONNECT X</h1>
		</div>
	</div> 
</div>


	<div class="row" style="margin-top: 10px;">
		<div class="col-lg-12" style="height: 50px;background-color: white;transform: translateY(-24px);box-sizing: border-box;;">
		<div class="container">
		<ul style="display: flex;flex-direction: row;list-style: none;padding-top: 10px;">
				<li class="list-nav personal-detail"><b>PERSONAL DETAILS</b></li>
				<li class="list-nav"><B>PROJECTS</B></li>
				<li class="list-nav achieve-nav"><B>ACHIEVEMENTS</B></li>
				<li class="list-nav"><B>LOGOUT</B></li>
				
		</ul>
		<% if(updated)
		{%>

		
		<ul style="float: right;list-style: none;transform: translateY(-40px);font-family: 'Lato',sans-serif;font-weight: 600;">
			<li>ALL CHANGES SAVED</li>
		</ul>
		<%}
		%>
	</div>
		
	</div> </div>
	

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
			
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <form method="POST" action="/addskill">
					<div class="form-group">
					  <label for="skill-name" class="col-form-label">Skill</label>
					  <input type="text" class="form-control" id="recipient-name" name="skilldetail">
					</div>
					<div class="form-group">
					<input type="hidden" value="<%=prods._id%>" id="recipient-name" name="productID">
					</div>
				
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add</button>
					
				  </form>
				</div>
				
			  </div>
			</div>
		  </div>
	
	
      <% if(isAuth)
         { %>
			  
			
			<section class="personal-details">
					<div class="container">
							<div class="row" style="display: flex;justify-content: space-between;">
				<div class="col-lg-6 col-md-10" style="height: ;background-color: white;border-radius: 10px;padding:40px 30px;margin-top: 30px;" >
						<form method="POST" action="/personaldetails">
								<div class="form-group">
								  <label for="exampleInputEmail1">Name</label>
								  <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name"  value="<%=prods.name %>">
								 
								</div>
								<div class="form-group">
										<label for="exampleInputEmail1">College</label>
										<input type="text" name="college" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Institution" value="<%=prods.college%>">
										
									  </div>
									  <div class="form-group">
											<label for="exampleInputEmail1">Contact</label>
											<input type="text" name="contact" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Contact" value="<%=prods.contact%>">
	                                  </div>
								<div class="form-group">
								  <label for="exampleInputPassword1" value="">Gender</label>
								  <input type="text" name="gender" class="form-control" id="exampleInputPassword1" placeholder="Male or Female" value="<%=prods.gender%>">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Stream</label>
								    <input type="text" name="streamname" class="form-control" value="<%= prods.stream %>">
								  </div>
								<input type="hidden" value="<%=prods._id%>" name="ID">
								
								
								<button type="submit" class="btn btn-primary" style="margin-top: 35px;">SAVE</button>
							  </form>	
					
					
				</div>
						<div class="col-lg-5 col-md-10" style="background-color: white;box-sizing: ;border-radius: 10px;margin-top: 30px;padding: 40px 5px;">
					
	<center>
		<button type="button" class="btn btn-primary add-skill" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">ADD SKILL</button></center>
						 
							   
					

					<div class="row" style="margin:30px 30px;display: flex;justify-content: center;background-color: white;padding: 10px 10px;">
			   
							<% for(product in prods.skills)
							{%>
								<div  class="skills"  style="height: 50px;">
									<form method="POST" action="/delete/skill"><%=prods.skills[product]%><button class="btn" type="submit"><i class="fas fa-times"></i></button>
									
									
									<input type="hidden" value="<%=prods.skills[product]%>" name="specificskill">
									<input type="hidden" value="<%=prods._id%>" name="ID" class="id-input">
								</form></div>
							<%}
								
							%></div>
			</div>
		</div>
		</div><%}
		%></section>
		<style>
		.col-lg-3{
			height: 200px;
			background-color:#f5f5f5;
			margin-top: 5px;
			margin-right: 2px;
			border-radius: 2%;
			cursor:pointer;
			
			
		}
		.col-lg-3:hover{
			background-color: rgb(104, 109, 112);

		}
		.projects{
			background-color: white;
		}
		.col-lg-4{
			height: 200px;
			margin-top: 5px;
			background-color:#f5f5f5;
		
			border-radius: 2%;
			cursor:pointer;
		}
		
		.btn{
			padding: 5px 5px;;

		}
		
		</style>
		
		
		<div class="container" style="padding: 5px 20px;background-color: white;margin-top: 50px;">
	
				<h2 style="transform: translate(40px,30px);color: #a1a1a1;font-family:'Raleway', sans-serif;font-size: 20px;float: left;"><b>PROJECTS</b></h2><button type="button" class="btn btn-primary add-skill" data-toggle="modal" data-target="#exampleModal3" data-whatever="@getbootstrap" style="transform:translate(50px,20px);width: 27px;height: 27px;;border-radius: 50%;"><i class="fas fa-plus fa-4x" style="font-size: 10px;transform: translateY(-14px);"></i></button></center>
				<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
									<form method="POST" action="/add/projects-detail">
										<label >Project-Name</label>
										<input type="text" name="project_name" class="form-control" >
										<label >Project-Detail</label>
										<input type="text" name="project_det"class='form-control'>
										<label >Project-Link</label>
										<input type="text" name="project_link" class="form-control">
										<input type="hidden" value="<%=prods.id%>" name="ID">
										<button type="submit" class="btn btn-primary" style="margin-top: 5px;">Add Project</button>
									</form>
							</div>
							
						  </div>
						</div>
					  </div>
					
				
				
				
				<div class="row" style="display: flex;justify-content: center;background-color: white;padding: 60px 5px;margin-top: 10px;">
	
						
						
							
					
							
			
			
				<%
				for(product in prods.project)
				{%>
					
						<div class="col-lg-3" style="padding:10px 10px;">
								  
						<form method="POST" action="/delete/project" >
						
							
							
							<button class="btn" type="submit" style="float:right;padding: 2px 10px;"><i class="fas fa-times-circle"></i></button>
							
									<input type="hidden" name="ID" value="<%=prods._id %>">
									<input type="hidden" name="project_id" value="<%=prods.project[product]._id%>">
						
						</form>	
						<div class="row">
							<div class="col-lg-12">
                               <a href="<%=prods.project[product].link%>" style="text-decoration: none;"><h4 style="color: rgb(77, 75, 75);font-family: 'Rubik',sans-serif;"><%=prods.project[product].name%></h4></a>
						</div> 
					</div>
					<div class="row" style="padding: 2px 20px;">
							<h8 style="font-family: 'Rubik',sans-serif ;color: rgb(77, 77, 77);font-weight: 100;"><%=prods.project[product].detail%></h6>
					</div>
								  
						</div>
					

				
	
					<%}
				%>
			
				</div>
											 
			
			

	
	</div>
	
	<div class="container Achievement-Bucket" style="margin-top: 50px; background-color: white;">
			<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						  <form method="POST" action="/addachievement">
							<div class="form-group">
							  <label for="achievement-name" class="col-form-label">Achievement Description(Along With Outcome information)</label>
							  <input type="text" class="form-control" id="recipient-name" name="achievement_detail" style="height: 60px;">
							</div>
							
								
							<div class="form-group">
							<input type="hidden" value="<%=prods._id%>" id="recipient-name" name="productID">
							</div>
						
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Add</button>
							
						  </form>
						</div>
						
					  </div>
					</div>
				  </div>
			
	
	<style>
	.achv-info{
		background-color: white;
		font-family: 'Rubik',sans-serif;
		border-radius: 5px;
		margin: 5px 5px;
	    padding: 10px 5px;
		background-color: rgb(224, 226, 226);
	}
	

	</style>
		<h2 style="font-family:'Raleway',sans-serif;font-size: 20px;color: #a1a1a1;padding: 20px 20px;float: left;"><b>ACHIEVEMENT BUCKET</b></h2><button type="button" class="btn btn-primary add-skill" data-toggle="modal" data-target="#exampleModal2" data-whatever="@getbootstrap" style="transform:translate(0px,10px);width: 27px;height: 27px;;border-radius: 50%;"><i class="fas fa-plus fa-4x" style="font-size: 10px;transform: translateY(-14px);"></i></button></center>

		
			<div class="row" style="margin:30px 30px;display: flex;justify-content: center;background-color: white;padding: 10px 10px;">
			   
					
				<% for(product in prods.bucket)
					{%>
						<div  class="achv-info"  ><form method="POST" action="/delete/achievement"><%=prods.bucket[product]%><button class="btn" type="submit" ><i class="fas fa-times" ></i></button>
							
							
							<input type="hidden" value="<%=prods.bucket[product]%>" name="achievement_detail">
							<input type="hidden" value="<%=prods._id%>" name="ID" class="id-input">
						</form>
					</div>
					<%}
						
					%>
				</div>

	
	</div>
	

		
		

<% include ../partials/footer %>
